

<script>
  // Size and margins
  const width = 800;
  const height = 400;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

  <script>
  am5.ready(function() {
    var losAngelesData=[]
    var baltimoreData=[]
    var root = am5.Root.new("rangeChartDiv");
    //creating a polar and a radar chart
    var chart = root.container.children.push(am5radar.RadarChart.new(root, {
      panX: false,
      panY: false,
    }));
    //axis of a rader chart
    var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
      maxDeviation: 0.1,
      groupData: false,
      baseInterval: {
        timeUnit: "month",
        count: 1
      },
      renderer: am5radar.AxisRendererCircular.new(root, {
        minGridDistance: 50
      }),
      tooltip: am5.Tooltip.new(root, {})
      }));
      var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
        renderer: am5radar.AxisRendererRadial.new(root, {min: 0,
          max: 12})
      }));
      //Los Angeles
      var series = chart.series.push(am5radar.RadarLineSeries.new(root, {
        name: "Los Angeles",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "energy",
        valueXField: "day",
        maskBullets: false,
        tooltip: am5.Tooltip.new(root, {
          labelText: "{valueY}"
        })
      }));

      //Baltimore
      var series2 = chart.series.push(am5radar.RadarLineSeries.new(root, {
        name: "Baltimore",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "energy",
        valueXField: "day", 
        maskBullets: false,
        tooltip: am5.Tooltip.new(root, {
          labelText: "{valueY}"
        })
      }));

      //creating circles for Los Angeles which will be in the pie chart
        var loseAngelesCounter=0;
        series.bullets.push(function () {
          loseAngelesCounter++;
    
        let circle = root.container.children.push( am5percent.PieChart.new(root, {
          width:30,
          height: 30,
          maxHeight:30,
          maxWidth:30,
        }));
        let seriesPieChart = circle.series.push(
          am5percent.PieSeries.new(root, {
            valueField: "value",
            categoryField: "title",
          })
        );

        seriesPieChart.get("colors").set("colors", [
            am5.color("#FF0000"),
            am5.color("#0000FF"),
        ]);
          const requiredData = losAngelesData.find(x=>x.month===loseAngelesCounter)
        
          seriesPieChart.data.setAll([{title:"heating",value:requiredData.heating},{title:"cooling",value:requiredData.cooling}])
          seriesPieChart.labels.template.set("visible", false);
          seriesPieChart.ticks.template.set("visible", false);
          
          let circleContainer = am5.Container.new(root, {
            centerX: am5.p50,
            centerY: am5.p50
          });
          circleContainer.children.push(circle)
          seriesPieChart.appear(1000, 100);
            return am5.Bullet.new(root, {
              sprite: circleContainer
            });
          });

      //creating squares for Baltimore which will be in the pie chart
        var  barCounter=0;
        series2.bullets.push(function () {
          barCounter++;

      // Creating elements
      let circle = root.container.children.push( am5percent.PieChart.new(root, {
        width:25,
        height: 25,
        maxHeight:25,
        maxWidth:25,
      }));

      var shape = "M 10 10 H 90 V 90 H 10 L 10 10";
      var series123 = circle.series.push(
        am5percent.PictorialStackedSeries.new(root, {
          name: "Series",
          categoryField: "title",
          valueField: "value",
          width:am5.percent(100),
          height:am5.percent(100),
          orientation:"horizontal",
          svgPath: shape
        })
      );    
    series123.get("colors").set("colors", [
      am5.color("#FF0000"),
      am5.color("#0000FF"),
    ]);
    const requiredData = baltimoreData.find(x=>x.month===barCounter);
    const chartData=[{title:"heating",value:requiredData.heating},{title:"cooling",value:requiredData.cooling}]
      
    series123.data.setAll(chartData);

    series123.labels.template.set("visible", false);
    let circleContainer = am5.Container.new(root, {
      centerX: am5.p50,
      centerY: am5.p50
    });
    circleContainer.children.push(circle)
    
    return am5.Bullet.new(root, {
      sprite: circleContainer
      });
    });
    var cursor = chart.set("cursor", am5radar.RadarCursor.new(root, {
    behavior: "zoomX"
    }));

    cursor.lineY.set("visible", false);
    
  //fetching data
  fetch('/data/monthly_heating_cooling.json')
  .then(function (response) {
    return response.json();
  })
  .then(function (data) {
    appendData(data);
  })
  .catch(function (err) {
    console.log('error: ' + err);
  });

  //creating the mapped list for charts
  function appendData(responseData) {
    var cities= [... new Set(responseData.map(x=>x.city))]
    var months= [... new Set(responseData.map(x=>x.month))]
    const result = [];
    cities.forEach(city=>{
      months.forEach(month=>{
      const dataForCurrentCity = responseData.filter(x=>x.city ===city && x.month===month);
        result.push({
          city:city,
          day:new Date(`2022 ${month} 15`).getTime(),
          month:month,
          heating:dataForCurrentCity.map(x=>x.heating).reduce((acc,curr)=>acc+ curr),
          cooling:dataForCurrentCity.map(x=>x.cooling).reduce((acc,curr)=>acc+ curr),
          energy:dataForCurrentCity.map(x=>x.heating+x.cooling).reduce((acc,curr)=>acc+ curr)
        })
        })
      return result;
    })
      losAngelesData=result.filter(x=>x.city==="Los Angeles");
      baltimoreData=result.filter(x=>x.city==="Baltimore");
    series.data.setAll(losAngelesData);
    series2.data.setAll(baltimoreData);
    }

  })
  </script>
  </head>
  
  <body>
    <div class="title">
      <h4>#1: Heating and Cooling Energy Use over Multiple Months</h4>
    </div>

  <div {width} {height} id="rangeChartDiv">
    <g transform="translate({margin.left}, {margin.top})">
    </g>
  </div>
  </body>

  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: #ffffff;
  }

  #lineChartDiv {
    width: 100%;
    height: 80vh;
  }
  #rangeChartDiv {
    width: 100%;
    height: 80vh;
  }.title{
    width: 100%;
    text-align: center;
  }
  </style>

</html>

