<script>
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import { scaleLinear } from 'd3-scale';

  let datapoints = [];
  fetch('/data/daily_heating_cooling.json')
    .then(res => res.json())
    .then(data => datapoints = data)
  //const scaleX = scaleLinear().domain([-180,180]).range([0,800]) 
  //const scaleY = scaleLinear().domain([-90,90]).range([500,0])





  function clock(){
    const today = new Date();

    const months = today.getMonth(); //1-12
    const weeks = today.getWeek();   //1-52
    const days = today.getDays();    //1-31
    const day_of_years = today.getDay_of_Year(); //1-365

    const monthPeriod = month > 12 ? month - 12 : month;
    
  }
  
</script>

<div id="clock"></div>


<svg {width} {height}>
  
  <g transform="translate({margin.left="400"}, {margin.top="400"})">
     
    <!--  -->
  </g>
</svg>



<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
