<script>
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;



  fetch('/data/heating_december.json')
      .then(function (response) {
          return response.json();
      })
      .then(function (data) {
          appendData(data);
      })
      .catch(function (err) {
          console.log('error: ' + err);
      });

  function appendData(data) {
    var main = document.getElementById("my_data");
    for (var i = 0; i < data.length; i++) {
        var newElement = document.createElementNS("newElement");
        newElement.innerHTML = 'Building Types: ' + data[i].buildingtypes + 'Total Heating Energy ' + data[i].total_heating_energy;
        main.appendChild(newElement);
    }
  }

</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
