

<script>
  // Size and margins
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

  <script>
  am5.ready(function() {
    var lineChartRoot = am5.Root.new("lineChartDiv");}
  fetch('/data/monthly_heating_cooling.json') //fetching data
  .then(function (response) {
    return response.json();
  })
  .then(function (data) {
    appendData(data);
   })
   .catch(function (err) {
    console.log('error: ' + err);
  });
    
    // the line chart
    var lineChart = lineChartRoot.container.children.push(am5xy.XYChart.new(lineChartRoot, {
      panX: true,
      panY: true,
      wheelX: "panX",
      wheelY: "zoomX",
      maxTooltipDistance: 0,
      pinchZoomX:true
    }));

  //creating axis
    var lineChartXAxis = lineChart.xAxes.push(
      am5xy.DateAxis.new(lineChartRoot, {
        maxDeviation: 100,
        baseInterval: {
          timeUnit: "day",
          count: 1
        },
        renderer: am5xy.AxisRendererX.new(lineChartRoot, {}),
        tooltip: am5.Tooltip.new(lineChartRoot, {})
      })
    );
     var lineChartYAxis = lineChart.yAxes.push(
      am5xy.ValueAxis.new(lineChartRoot, {
        renderer: am5xy.AxisRendererY.new(lineChartRoot, {})
        })
      );

    //creating cursor
    var lineChartCursor = lineChart.set("cursor", am5xy.XYCursor.new(lineChartRoot, {
      behavior: "zoomX"
    }));
    lineChartCursor.lineY.set("visible", false);

    //the lind chart
    var cities= [];
    var dataResponse=[]
    var charDataList=[]

    function appendData(responseData) {
      cities= [... new Set(responseData.map(x=>x.city))]
      dataResponse=responseData;
      charDataList = responseData.map(x=> {
        return {
          city:x.city,
          energy:x.heating + x.cooling,
          heating:x.heating,
          cooling:x.cooling,
          day:new Date(`2022,${x.month},${x.day ? x.day :"1" }`).getTime()
        }
      })
      createLineChart(cities,charDataList);

    }
    
    function createLineChart(cities,data){
      
      for (var i = 0; i < cities.length; i++) {
        var series = lineChart.series.push(am5xy.LineSeries.new(lineChartRoot, {
          name: cities[i],
            xAxis: lineChartXAxis,
            yAxis: lineChartYAxis,
            valueYField: "energy",
            valueXField: "day",
            legendValueText: "{valueY}",
            tooltip: am5.Tooltip.new(lineChartRoot, {
            labelText: "{valueY}",
            pointerOrientation: "horizontal"
            })
          }));
        
          series.data.setAll(data.filter(x=>x.city===cities[i]));
          series.appear();
        }
        lineChartLegend.data.setAll(lineChart.series.values);
      }
    })
</script>

</head>

<body>
  <div class="title">
    <h4>#2: Heating and Cooling Energy Use over Multiple Months</h4>
  </div>
  <div {width} {height} id="lineChartDiv">
    <g transform="translate({margin.left}, {margin.top})">
    </g>
  </div>
</body>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: #ffffff;
  }
  #lineChartDiv {
    width: 100%;
    height: 80vh;
  }
  #rangeChartDiv {
    width: 100%;
    height: 80vh;
  }.title{
    width: 100%;
    text-align: center;
  }

  </style>
</html>
