<script>
    const student = { name: 'Sienna Jeong'};
    const myList=['traveling','eating','jogging']
    
    console.log(student.name);
    console.log(myList);

</script>

<p> My name is {student.name}</p>
<p> These are some of my favourite things:{myList}</p>
