<body>
    <button onclick="trackClick()" class="btn btn-outline-count">Count</button>
    <p id="demo"></p>

    <input type = "button" class="btn btn-outline-reset" value = "Reset" onclick = "countReset()">
    <script>
        let count = 0;
        function trackClick() {
            count += 1
            document.getElementById("demo").innerHTML = "You clicked the button "
    + count + " times."
        }
        function countReset(){
            document.getElementById("demo").innerHTML = "You clicked the button "
    + 0 + " time."
        }
               
    </script>
</body>