<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });  

    let count = 0;
    function buttonClick() {
        count += 1
          }


</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={data[0]['countries']} />
    <Controls {data} />
  </div>
{/if}


<button on:click= {buttonClick} class="btn btn-outline-play">Play</button>
<button on:click= {buttonClick} class="btn btn-outline-pause">Pause</button>
<button on:click= {buttonClick} class="btn btn-outline-reset">Reset</button>


<style>
  .dropbtn {
    background-color: #04AA6D;
    color: yellow;
    padding: 15px;
    font-size: 15px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  </style>
  
  
  <div class="dropdown">
    <button class="dropbtn">Selected Year</button>
    <div class="dropdown-content">
      <a href="#0">1800</a>
      <a href="#1">1801</a>
      <a href="#2">1802</a>
      <a href="#3">1803</a>
      <a href="#4">1804</a>
      <a href="#5">1805</a>
      <a href="#6">1806</a>
      <a href="#7">1807</a>
      <a href="#8">1808 3</a>
      <a href="#9">1809</a>
      <a href="#10">1810</a>
     
    </div>
  </div>
  
  