<script>

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    </g>

  <circle cx="20" cy="100" r="10" style="fill: yellow;"/>
  <circle cx="75" cy="180" r="10" style="fill: red;" />
  <circle cx="130" cy="200" r="10" style="fill: orange;" />
  <circle cx="185" cy="100" r="10" style="fill: purple;" />
  <circle cx="240" cy="180" r="10" style="fill: grey;" />
  <circle cx="295" cy="100" r="10" style="fill: green;" />
  <circle cx="350" cy="180" r="10" style="fill: black;" />
  
  import CircleLabel
  var circle:CircleLabel
  circle1.text = "Europe"
  circle2.text = "NorthAmerica"
  circle3.text = "SouthAmerica"
  circle4.text = "Asia"
  circle5.text = "Africa"
  circle6.text = "Australia"
  circle7.text = "Antarctica"


</svg>


<lable>1800</lable>