<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <circle cx="290" cy="75" r="10" />
    <rect x="130" y="50" width="40" height="40" />

  </g>
</svg>

<style>
  svg {
      border: 1px;
      border-style: solid;
      border-radius: 10px;}
  circle {
    fill: rgba(101, 221, 250, 0.913);
  }
  rect {
    fill: yellow;
  }
  
</style>
