
<script>
import {axisBottom} from 'd3-axis';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  import { scaleLinear } from 'd3-scale';
  const scale = scaleLinear().domain([2,9]).range([0,innerWidth]);

</script>



<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <circle cx={scale(values)} cy=45 r=10 />
  </g>

</svg>

<label for="xAxis">x-axis</label>
<input type="currentcolor" id="xAxis" name=xAxis>

<style>
  text {
    text-align: center;
      }
  
  </style>



