<script>

  import {scaleOrdinal} from 'd3-scale';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];


  const scale = scaleOrdinal.domain([2,9]).range([innerWidth,innerHeight]);
  
  import {extent} from 'd3-array';
  $: xScale = scaleOrdinal()
  .domain(extent(datapoints.map((d) => { return d[x]})))
  .range([innerWidth,innerHeight])
  $: yScale = scaleOrdinal()
  .domain(extent(datapoints.map((d) => { return d[y]})))
  .range([innerWidth,innerHeight])

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <circle cx=innerWidth cy=innerHeight r=10 />
  </g>
  var lollipop = d3.lollipop();
  lollipop.bound({top:20, right:5, bottom:5, left:5});


</svg>

<label for='valueLabel' </label>
<style>
  text {
    text-anchor: middle;
    font-size: small;
  }

</style>
