<script type="module">

  import {scaleLinear} from "https://cdn.skypack.dev/d3-scale@4";
  
  const x = scaleLinear();
  
  </script>

<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <rect x="0" y="0" {width} {height} class="Netflix"/>
    <rect x="0" y="0" {width} {height} class="Amazon Prime Video"/>
    <rect x="0" y="0" {width} {height} class="Disney+"/>
    <rect x="0" y="0" {width} {height} class="Hulu"/>
    <rect x="0" y="0" {width} {height} class="Apple TV"/>
    <rect x="0" y="0" {width} {height} class="Rakuten"/>

  </g>

  
</svg>
