<script>
    import { onMount } from 'svelte';
    import { json } from 'd3-fetch';
    import Scatterplot from './_ex_7_scatterplot.svelte'

    let data = null;
    onMount(async () => {
        rawdata = await json('/data/gapminder.json');
        data = rawdata[0].countries;
    });

    //const data = await d3.csv('/myFile.csv');
    //console.log(data); 

</script>

<Scatterplot data={data}/>


<title>
</title>
<label>
    
</label>

    

